body {
  overflow-x: hidden; }

/* -------------------------------------------------
  * --------------------- Nav ---------------------*/
.navbar {
  background: transparent;
  margin: 0;
  border: 0; }
  .navbar .navbar-brand {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
    .navbar .navbar-brand img {
      width: 100%; }
  .navbar .navbar-collapse ul li a {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: .3s; }
  .navbar .navbar-collapse ul li a:hover {
    color: #43ecd2; }

/* -------------------------------------------------
  * -------------------- Header --------------------*/
header {
  margin-top: -51px;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 75% 100%, 0 80%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 72%, 75% 100%, 0 80%); }
  header .jumbotron {
    margin-bottom: 0;
    padding: 10em 0 18em 0;
    background: none;
    text-align: left;
    background: linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    background: -webkit-linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    background: -o-linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    color: white; }
    header .jumbotron .medio {
      width: 75%; }
    header .jumbotron h1 {
      font-family: 'Open Sans', sans-serif;
      font-size: 5rem;
      margin-bottom: 1em;
      font-weight: lighter; }
    header .jumbotron .btn {
      color: white;
      border-radius: 50px;
      padding: .5em 2em;
      font-weight: bold;
      font-size: 2rem;
      font-family: 'Montserrat', sans-serif; }
    header .jumbotron .btn:first-child {
      background: #00deff;
      margin-right: 1em; }
    header .jumbotron .btn:last-child {
      background: #2bdfa6; }

/* -----------------------------------------------------------
  * ----------------------- Servicios -----------------------*/
h2 {
  color: #38454f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.ver-mas {
  display: none; }

.row_item.galeria {
  position: relative;
  transition: .3s;
  margin-bottom: 2em; }
  .row_item.galeria .centrado {
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;
    transition: .3s; }
    .row_item.galeria .centrado .link {
      color: white;
      font-size: 3em;
      width: 100%;
      height: 100%;
      padding: 2.7em 4.5em; }
  .row_item.galeria .mas {
    z-index: 1000; }
    .row_item.galeria .mas .dentro {
      background: white;
      position: absolute;
      top: 40%;
      right: -18%;
      transition: .3s;
      z-index: 1000; }
    .row_item.galeria .mas a {
      text-decoration: none;
      z-index: 1000; }
    .row_item.galeria .mas .fa {
      color: gray;
      padding: .5em;
      font-size: 2em; }
    .row_item.galeria .mas span {
      z-index: 1000;
      color: gray;
      font-family: 'Montserrat', sans-serif;
      position: relative;
      top: -5px;
      padding-right: 1em; }
  .row_item.galeria .mas:hover .dentro {
    right: 0; }

.row_item.galeria:hover .centrado {
  visibility: visible;
  background: rgba(0, 0, 0, 0.5); }

.servicio {
  padding: 4em 0;
  align-items: center; }
  .servicio h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #737a89; }
  .servicio img {
    align-items: center;
    width: 100%; }

/* -----------------------------------------------
  * ----------------- Trabajamos -----------------*/
.trabajamos .col-md-5 {
  padding-right: 0; }

.trabajamos .mapa,
.trabajamos .como {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px; }

.trabajamos .mapa {
  width: 38%; }
  .trabajamos .mapa iframe {
    width: 100%;
    max-height: 545px; }

.trabajamos .como {
  width: 62%;
  background: #f9fbfc; }
  .trabajamos .como .row_item {
    padding: 1em 25%; }
    .trabajamos .como .row_item ul {
      margin-top: 3em; }
      .trabajamos .como .row_item ul li {
        background: white;
        display: block;
        width: 47%;
        position: relative;
        padding: 1.5em 2em;
        border-radius: 5px;
        margin-bottom: 1em;
        font-family: 'Montserrat', sans-serif; }
        .trabajamos .como .row_item ul li .numero {
          position: absolute;
          text-align: center;
          top: 25.5%;
          left: -15px;
          border: 2px solid white;
          background: #2bdfa6;
          display: block;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          line-height: 28px;
          color: #fff;
          outline: 0;
          transition: all .3s; }

/*--------------------------------------------------
  * ------------------ Quienes ------------------*/
.quienes .row_item {
  width: 100%;
  padding: 3em 5em 4em 8em; }
  .quienes .row_item p {
    color: #828896;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px; }

.quienes .col-md-5 img {
  width: 100%; }

/*--------------------------------------------------------
  *--------------------- Servicios ---------------------*/
.servicios {
  padding: 5em 0 10em 0;
  background: #f9fbfc; }
  .servicios h4 {
    color: #9ba5ad; }
  .servicios .row {
    padding-top: 2em; }
  .servicios .col-md-3 {
    height: 156px;
    margin-bottom: 3em; }
    .servicios .col-md-3 .row_item {
      position: relative;
      background: white;
      border-radius: 10px;
      padding: 2em;
      transition: .3s;
      z-index: 1000;
      box-shadow: 1px 2px 30px #eee;
      overflow: hidden; }
      .servicios .col-md-3 .row_item h3 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: #6b7282;
        font-weight: 600; }
      .servicios .col-md-3 .row_item p {
        position: relative;
        top: 0;
        transform: rotateY(180deg);
        z-index: 5;
        display: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        transition: .3s; }
      .servicios .col-md-3 .row_item img {
        padding-left: 25%; }
    .servicios .col-md-3 .row_item:last-child h3 {
      font-size: 2rem; }
  .servicios .col-md-3:hover .row_item,
  .servicios .col-md-3:hover p {
    transform: rotateY(180deg);
    display: block; }
  .servicios .col-md-3:hover .row_item {
    box-shadow: 1px 2px 30px #eee;
    height: 173px; }
  .servicios .col-md-3:hover img, .servicios .col-md-3:hover h3 {
    display: none; }

/* ----------------------------------------------------
  * ------------------- Contactanos -------------------*/
.contactanos {
  background: linear-gradient(left, rgba(82, 141, 223, 0.5), rgba(43, 223, 166, 0.5));
  background: -o-linear-gradient(left, rgba(82, 141, 223, 0.5), rgba(43, 223, 166, 0.5));
  background: -ms-linear-gradient(left, rgba(82, 141, 223, 0.5), rgba(43, 223, 166, 0.5));
  background: -webkit-linear-gradient(left, rgba(82, 141, 223, 0.5), rgba(43, 223, 166, 0.5));
  padding: 2em 0 0 0; }
  .contactanos .media-left {
    position: relative;
    top: 25%; }
    .contactanos .media-left i {
      font-size: 5rem; }
  .contactanos .media-body {
    position: relative;
    left: 5em;
    top: -3.2em; }
    .contactanos .media-body .media-heading {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: bold; }
  .contactanos a {
    color: white; }
  .contactanos .btn {
    margin-top: 2.5%;
    background: #f7684d;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding: .5em 1em; }

/* ----------------------------------------------------------------
  * ---------------------------- Footer ---------------------------*/
footer .top {
  padding: 3em 0;
  background: #29323f; }
  footer .top h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; }
  footer .top ul {
    padding-left: 0; }
    footer .top ul li, footer .top ul li > a {
      color: #86939e;
      font-family: 'Montserrat', sans-serif;
      transition: .3s; }
    footer .top ul a:hover {
      color: #43ecd2;
      text-decoration: none; }
  footer .top .redes li {
    list-style: none;
    display: inline-block; }
    footer .top .redes li a {
      margin-right: 1em;
      font-size: 2rem; }
  footer .top .soporte ul li,
  footer .top .direccion ul li {
    list-style: none;
    line-height: 25px; }
  footer .top .ubicacion {
    text-transform: capitalize; }

footer .bottom {
  background: #242c39;
  padding: 2em 0; }
  footer .bottom p {
    color: #86939e;
    font-family: 'Montserrat', sans-serif; }
    footer .bottom p a {
      transition: .3s; }
    footer .bottom p a:hover {
      color: #43ecd2;
      text-decoration: none; }

/*----------------------------------------
  * ------ Modal ------
  * -----------------------------------*/
.modal-dialog {
  width: 55%; }

.modal-body img {
  width: 100%; }

/* ------------------------------------------------------------------
  * ------ Responsive ------*/
@media screen and (max-width: 1024px) {
  .navbar .navbar-brand {
    position: absolute;
    width: 25%; }
  .trabajamos .como .row_item {
    padding: 2em; }
    .trabajamos .como .row_item .container {
      margin: 0;
      width: 100%; }
      .trabajamos .como .row_item .container ul li {
        width: 100%; } }

@media screen and (max-width: 768px) {
  .navbar ul li a {
    padding: 15px 5px;
    font-size: 1.2rem; }
  .trabajamos .mapa,
  .trabajamos .como {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px; }
  .trabajamos .mapa {
    width: 100%; }
    .trabajamos .mapa iframe {
      width: 100%;
      max-height: 545px; }
  .trabajamos .como {
    width: 100%; }
  .servicios .col-md-3 .row_item img {
    padding-left: 35%; }
  .row_item.galeria .mas {
    display: none; }
  .ver-mas {
    display: block;
    font-family: 'Montserrat', sans-serif; }
    .ver-mas .ver {
      position: absolute;
      width: 100%; }
    .ver-mas a {
      background: #2bdfa6;
      position: relative;
      padding: 2em;
      color: white;
      bottom: -90px;
      left: 24%;
      font-size: 2rem; } }

@media screen and (max-width: 414px) {
  .navbar .navbar-brand {
    width: 80%; }
  .navbar .collapse, .navbar .navbar-header {
    background: linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    background: -webkit-linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    background: -o-linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5));
    background: -ms-linear-gradient(left, rgba(82, 141, 223, 0.8), rgba(43, 223, 166, 0.5)); }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 72%, 75% 75%, 0 72%); }
    header .jumbotron {
      padding: 10em 0 18em 0; }
      header .jumbotron .medio {
        width: 100%; }
      header .jumbotron h1 {
        font-size: 3rem; }
      header .jumbotron .btn {
        padding: .5em 2em;
        font-size: 1.3rem; }
  .quienes .row_item {
    width: 100%;
    padding: 3em 2em 4em 2em; }
    .quienes .row_item p {
      text-align: justify; }
  .quienes .col-md-5 img {
    width: 100%; }
  .ver-mas {
    display: block;
    font-family: 'Montserrat', sans-serif; }
    .ver-mas .ver {
      position: relative;
      width: 100%; }
    .ver-mas a {
      position: relative;
      padding: 2em 4em;
      color: white;
      bottom: -10px;
      left: 30%;
      font-size: 1.5rem; } }
