body {
  background: #f9fbfc; }

header {
  background-image: none;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 50% 100%, 0 80%); }
  header .jumbotron {
    padding: 4em 0 4em 0; }
    header .jumbotron .medio {
      width: 100%; }
    header .jumbotron h1 {
      text-align: center; }

.contenedor {
  padding-top: 4em; }
  .contenedor .col-md-4 {
    margin-bottom: 2em; }
  .contenedor .row_item img {
    width: 100%; }
  .contenedor .row_item .centrado {
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;
    transition: .3s; }
    .contenedor .row_item .centrado .link {
      color: white;
      font-size: 3em;
      width: 100%;
      height: 100%;
      padding: 2.3em 4em; }
