body {
  background: #f6f4f4; }

.preguntas .card-header {
  background: white;
  padding: 2em;
  z-index: 1000;
  box-shadow: 0px 0px 20px 5px #eee;
  border-bottom: #eee 1px solid;
  position: relative; }

.preguntas .mb-0 {
  text-transform: uppercase;
  display: inline;
  background: white; }
  .preguntas .mb-0 a {
    width: 100%;
    display: inline;
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

.preguntas .collapse {
  z-index: 50;
  box-shadow: 2px 2px 2px #eee;
  background: #fdfdfd;
  padding: 2.5em 2em; }
  .preguntas .collapse .card-body {
    font-family: 'Montserrat', sans-serif; }

.pregunta {
  background: #e6e5e5;
  text-align: center;
  padding: .5em 0 1em; }
  .pregunta h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem; }
  .pregunta .btn {
    font-family: 'Montserrat', sans-serif;
    background: #2bdfa6;
    color: white;
    margin-top: 1em;
    padding: 1em 2em;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase; }
