body {
  background: white; }

header {
  background-image: none;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 50% 100%, 0 80%); }
  header .jumbotron {
    padding: 4em 0 4em 0; }
    header .jumbotron .medio {
      width: 100%; }
    header .jumbotron h1 {
      text-align: center; }

.quiene h1, .quiene p {
  font-family: 'Montserrat', sans-serif; }

.quiene h1 {
  font-weight: bold;
  font-size: 4rem; }

.quiene p {
  font-size: 1.6rem;
  color: #4D4B51; }

.quiene .row_item {
  padding: 2em; }

.quiene .texto {
  padding-top: 1em; }

.quiene .derecha {
  padding-top: 6em; }

.quiene .mision p {
  padding-top: 1em; }

.quiene .blockquote {
  background: #D5E6E6;
  border: none;
  padding: 3em 6.2em; }
  .quiene .blockquote p {
    color: #333;
    font-weight: bold;
    font-size: 3.5rem;
    padding-top: .5em; }
  .quiene .blockquote cite {
    font-size: 1.8rem; }

.quiene .vision h1 {
  text-align: right; }

.equipo {
  padding-top: 2em;
  background: #F5F5F1; }
  .equipo img {
    width: 70%;
    border-radius: 50%; }
  .equipo h3 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
  .equipo .puesto {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase; }

@media screen and (max-width: 414px) {
  .quiene h1 {
    font-size: 3rem; }
  .quiene p {
    font-size: 1.2rem; }
  .quiene .derecha {
    padding-top: 0; }
    .quiene .derecha .row_item {
      padding-top: 0; }
  .quiene .blockquote {
    padding: 2em 2.2em; }
    .quiene .blockquote p {
      font-size: 2.5rem; }
    .quiene .blockquote cite {
      font-size: 1.2rem; }
  .vision.row_item {
    padding-top: 0; } }
