//font-family: 'Open Sans', sans-serif
//font-family: 'Montserrat', sans-serif
body
	background: #f6f4f4
header
	background-image: none
	clip-path: polygon(0 0,100% 0, 100% 72%,50% 100%,0 80%)
	.jumbotron
		padding: 4em 0 4em 0
		.medio
			width: 100%
		h1
			text-align: center
.preguntas
	.card-header
		background: white
		padding: 2em
		//margin: 1em 0
		z-index: 1000
		box-shadow: 0px 0px 20px 5px #eee
		border-bottom: #eee 1px solid
		position: relative
	.mb-0
		text-transform: uppercase
		display: inline
		background: white
		a
			width: 100%
			display: inline
			color: #8a8a8a
			font-family: 'Montserrat', sans-serif
			font-weight: bold
	.collapse
		z-index: 50
		box-shadow: 2px 2px 2px #eee
		background: #fdfdfd
		padding: 2.5em 2em
		.card-body
			font-family: 'Montserrat', sans-serif
		//box-shadow: 1px 2px 30px #eee
.pregunta
	//position: fixed
	background: #e6e5e5
	text-align: center
	padding: .5em 0 1em
	h3
		font-family: 'Montserrat', sans-serif
		font-size: 1.8rem
	.btn
		font-family: 'Montserrat', sans-serif
		background: rgb(43,223,166)
		color: white
		margin-top: 1em
		padding: 1em 2em
		font-size: 1.6rem
		font-weight: bold
		text-transform: uppercase
