doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	title Información
	link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet", href="/font/fuentes.css")
	link(rel="stylesheet", href="/font/fuentes-blog.css")
	link(rel="stylesheet", href="/css/estilos.css")
	link(rel="stylesheet", href="/css/quienes.css")
body
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					img(src="/img/logo.png", alt="logo")
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Inicio</a></li>
				<li><a href="/quienes-somos">Información</a></li>
				<li><a href="/preguntas-frecuentes">Preguntas</a></li>
				<li><a href="/galeria">Galeria</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/contacto">Contacto</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<header>
		div.jumbotron
			.container
				<div class="medio">
					<h1>INFORMACIÓN</h1>
				</div>
	</header>
	
	section.container.quiene
		.row
			.col-md-6
				.row_item
					h1 Como empezamos
					.texto
						p Kontist is not one of those flash in the pan ideas...
						p Kontist is the solution to a very tangible problem: there are no banking products specifically tailored to the needs of freelancers in Germany.
						p Our team is made up of current and former freelancers who have experienced first-hand how badly prepared traditional banks are to help the self-employed. As freelancers, we want banking products that focus on our needs and help us better organize our finances.
			.col-md-6.derecha
				.row_item
					p This was exactly the feedback our CEO Chris heard from the growing freelance community in Germany at his last company Debitoor, an accounting software for SMEs and freelancers.
					p However, Chris' subsequent attempts to convince traditional banks to develop products for the self-employed fell on deaf ears. Inspired and motivated by the idea, he assembled a team of current and former freelancers from all over the world to create the first banking solution exclusively for the self-employed.
		<blockquote class="blockquote text-center .row_item">
			i.fa.fa-quote-left
			<p class="mb-0">Esta es una cita de alguna persona para darle mayor contenido a la pagina.</p>
			<footer class="blockquote-footer"><cite title="Santa Teresa de los Andes">Escritor de la cita</cite></footer>
		</blockquote>
		.mision.row_item
			h1 Nuestra mision
			p We believe freelancers shape the future of work, challenging traditional company structures and combining flexibility and individuality to create successful businesses. However, there are still a lot of obstacles freelancers face, especially when it comes to their finances. This is where Kontist comes in with a bank account exclusiv
		.vision.vision.row_item
			h1 Nuestra vision
			p We believe freelancers shape the future of work, challenging traditional company structures and combining flexibility and individuality to create successful businesses. However, there are still a lot of obstacles freelancers face, especially when it comes to their finances. This is where Kontist comes in with a bank account exclusively for freelancers that understands you and helps you stay on top of your finances.
	
	.equipo.quiene
		.container
			h1 Nuestro equipo
			.row.row_item
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo
				.col-md-3
					.row_item
						.head
							img(src="/img/persona.png", alt="imagen")
						.body
							h3 Josefa Sinforoza
							p.puesto puesto de trabajo

	footer
		.top
			.container
				.row
					.col-md-4
						h3 Siguenos
						ul.redes
							//li
								a(href="#", target="_blank")
									i.fa.fa-google
							li
								a(href="http://www.facebook.com/lab.santateresa", target="_blank")
									i.fa.fa-facebook
							li
								a(href="https://twitter.com/labsantateresa", target="_blank")
									i.fa.fa-twitter
							li
								a(href="https://www.instagram.com/lab.santateresa/", target="_blank")
									i.fa.fa-instagram
					.col-md-4.soporte
						h3 Soporte
						ul
							li 
								a(href="/preguntas-frecuentes") FAQs
							li 
								a(href="/contacto") Contacto
							li 
								a(href="/blog") Blog
					.col-md-4.direccion
						h3 Direccion
						ul
							li labsantateresadelosandes@gmail.com
							li.ubicacion Urb. Patarata II Calle guri casa nro 280
							li +58 0251-719-1923 / 0251-0514521
		.bottom
			.container
				p!= "Copyright &copy; Diseño y desarrollo por <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas</a>"
	script(src="js/jquery.js")
	script(src="bootstrap/js/bootstrap.min.js")
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107408782-1"></script>
	script(src="/js/google.js")